[submodule "mksshare"]
	path = mksshare
	url = https://github.com/mksshare/mksshare.github.io.git
[submodule "tolinkshare2"]
	path = tolinkshare2
	url = https://github.com/tolinkshare2/tolinkshare2.github.io.git
[submodule "abshare"]
	path = abshare
	url = https://github.com/abshare/abshare.github.io.git
[submodule "toshare5"]
	path = toshare5
	url = https://github.com/toshare5/toshare5.github.io.git
[submodule "mkshare3"]
	path = mkshare3
	url = https://github.com/mkshare3/mkshare3.github.io.git
